.App {
  /* This does not look right locally or on github pages, but it has to be 
  styled this way to not conflict with the webflow css */
  width: 100%;
  height: 100%;
}

.configurator {
  position: fixed;
  right: 10%; 
  top: 10%;
  width: 20%;
  color: black;
}

.item-header {
  font-size: 1.5em;
  margin-bottom: 16px;
}

.item_label {
  font-size: 1em;
}

.item:hover {
  cursor: pointer;
  opacity: 0.5;
}

.item-wrapper {
  display: flex;
  flex-direction: row;
  align-items: left;
  gap: 16px;
}

.UI-container {
  margin-bottom: 32px;
}